body {
  background-color: lightblue;
  padding: 10px;
}

#status {
  background-color: gray;
  width: 100%;
  font-size: 125%;
  text-align:center;
  padding: 10px;
}

#opponents {
  width: 100%;
  padding: 10px;
}

.opponent_box {
  background-color: pink;
}

#me {
  background-color: lightgreen;
  width: 100%;
  padding: 10px;
}

#countdown_timer {
  background-color: red;
  text-color: white;
  font-size:150%;
}
